body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
  }

.header {
    border: 1px solid black;
}

.main {
    border: 1px solid black;
}

.footer {
    border: 1px solid black;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

.nav-elem {
    font-size: 17px;

    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    padding: 0px 20px;
    

}

.link-elem {
    text-decoration: none;
    color: #000000

}

html {
    scroll-behavior: smooth; 
  }


.code-elem {
    background-color:#f1f1f1;
    padding: 0px;
    margin: 0px;
}

.rs-s {
    width: 120px;
    height: 40px;
    background-image: url("./assets/img/rss_logo.svg");
}

.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}